@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Pretendard Variable', Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
      'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }
}

@layer components {
  /* 버튼 */
  .btn-success {
    @apply rounded-md bg-green-500 py-2 font-bold tracking-wider text-white transition hover:opacity-90;
  }

  .btn-error {
    @apply rounded-md bg-red-500 py-2 font-bold tracking-wider text-white transition hover:opacity-90;
  }

  .btn-info {
    @apply rounded-md bg-blue-500 py-2 font-bold tracking-wider text-white transition hover:opacity-90;
  }

  .btn-warning {
    @apply rounded-md bg-yellow-500 py-2 font-bold tracking-wider text-white transition hover:opacity-90;
  }

  /* 토스트 */
  .toast {
    @apply relative flex items-center justify-between overflow-hidden rounded-md bg-white p-4;
    animation: show_toast 0.3s ease forwards;
  }

  .toast-hide {
    animation: hide_toast 0.3s ease forwards;
  }
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}

@keyframes progress {
  100% {
    width: 0%;
  }
}
